[Unit]
Description=maddy config generation and reload

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl reload-or-try-restart maddy

[Install]
WantedBy=multi-user.target
